<ion-content color="light">
  <ion-list class="itens">

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>Nome</ion-col>
          <ion-col>Preço</ion-col>
          <ion-col>Qtde</ion-col>
          <ion-col>Ações</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngFor="let fruta of frutas" class="list">
      <ion-grid>
        <ion-row>
          <ion-col>{{ fruta.nome }}</ion-col>
          <ion-col>R${{ fruta.preco }}</ion-col>
          <ion-col>{{ fruta.quantidade }}</ion-col>
          <ion-col class="buttons">
            <ion-button color="danger" (click)="excluirFruta(fruta)">Delete</ion-button>
            <ion-button color="warning" (click)="editarFruta(fruta)">Edit</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="adicionarFruta()">Adicionar Item</ion-button>

</ion-content>
